.featured-role-card {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #4b32c1;
}
 
.featured-role-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
 
.featured-role-text3 {
  text-align: center;
}
 
.featured-role-actions {
  gap: var(--dl-space-space-unit);
  flex-wrap: wrap;
}
 
.featured-role-button {
  flex: 1;
}
 
.featured-role-action1 {
  text-align: center;
}
 
.featured-role-text4 {
  display: inline-block;
}
 
.featured-role-text5 {
  display: inline-block;
}
 
.featured-role-text6 {
  display: inline-block;
}
 
.featured-role-text7 {
  display: inline-block;
}
 

 

 
@media(max-width: 767px) {
  .featured-role-card {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .featured-role-button {
    width: 100%;
  }
}
